*{
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}

main {
    text-align: center;
}

h1 {
    display: inline-block;
    border: 1px solid black;
    padding: 15px 50px;
    margin-top: 25px;
    margin-bottom: 100px;
    color: #fff;
    background-color: darkblue;
}

div{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

h1:hover{
    background: lightblue;
}

h1:hover + div{
    background: url(https://picsum.photos/200/200/) no-repeat;
}